body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.logo {
  margin-left: 15%;
  color: black;
  width: fit-content;
  display: flex;
  padding: 15px 0;
  font-weight: 750;
  font-family: system-ui;
  align-items: center;
  line-height: 16px;
}

.logo h1 {
  margin: 0;
  color: #92718d;
  font-size: 40px;
}

.add-button {
  display: flex;
    margin-left: auto;
    border: none;
    background: #92718d;
    color: white;
    width: 20px;
    height: 20px;
    align-items: center;
    border-radius: 2px;
    justify-content: center;
    font-size: x-large;
}

.main-form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  gap: 70px;
  background: #92718d;
  box-sizing: border-box;
  padding: 100px 0;
  /* border-bottom: solid 50px #333; */
}

.buttons-container {
  display: flex;
  gap: 15px;
}

.buttons-container button {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: 5px 5px 10px 0 #00000050;
  background: #64766a;
  color: white;
  font-size: 1.25rem;
}

button:hover {
  background: #94a7ae;
  cursor: pointer;
}

.output {
  position: absolute;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  color: white;
  background: #833241;
  right: -23px;
  box-shadow: 5px 5px 10px 0 #00000050;
  font-size: 14px;
  width: 100px;
  text-align: center;
  transition: all 0.4s;
}

.textarea-container {
  max-width: 40%;
  width: 40%;
  min-width: 450px;
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333;
  padding: 60px 0;
}

.form-box {
  max-height: 600px;
  overflow-y: auto;
  max-width: 40%;
  width: 40%;
  min-width: 450px;
  border-radius: 5px;
  background: white;
}

form {
  font-size: 0.9rem;
}

form fieldset {
  padding: 10px;
  border-right: none;
  border-bottom: none;
  border: #c7c7c7 solid 1px;
  margin-bottom: 5px;
}

fieldset {
  border: none;
}

/* form input {
  margin-bottom: 5px;
} */

form input[type='text'] {
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 1;
  color: #555;
  width: 100%;
  box-sizing: border-box;
}

.textarea-container .format {
  border: none;
  position: absolute;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  color: white;
  background: #64766a;
  box-shadow: 5px 5px 10px 0 #00000050;
  font-size: 14px;
  width: 120px;
  transition: all 0.4s;
}

.add-template {
  left: 130px;
}

.textarea-container button:hover {
  background: #94a7ae;
  padding: 15px;
}

textarea {
  box-shadow: 5px 5px 10px 0 #00000050;
  resize: vertical;
  height: 316px;
  min-height: 316px;
  overflow-y: scroll;
  display: block;
  width: 100%;
  outline: none;
  border-radius: 5px 0 0;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  border: none;
  font-size: 0.9rem;
  line-height: 1.45;
  text-shadow: 0.015em 0.015em 0 #666;
  color: #666;
  padding: calc(0.75rem - 1px);
}

textarea::placeholder {
  color: #c7c7c7;
}
